@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap/dist/css/bootstrap.min.css";

@layer base {
  /* body {
    background-color: #14161b;
  } */
}
#slider-boxes {
  display: flex !important;
}
.slick-slide div {
  margin: 10px;
}

.slick-arrow:before {
  color: red;
  font-size: 50px;
}
